/*******************************/
/********** Menu CSS ***********/
/*******************************/
.food {
    position: relative;
    width: 100%;
    padding: 90px 0 60px 0;
    margin: 45px 0;
    background: rgba(0, 0, 0, 0.04);
}

.food .food-item {
    position: relative;
    width: 100%;
    margin-bottom: 30px;
    padding: 50px 30px 30px;
    text-align: center;
    background: #ffffff;
    border-radius: 15px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.08);
    transition: 0.3s;
}

.food .food-item:hover {
    box-shadow: none;
}

.food .food-item i {
    position: relative;
    display: inline-block;
    color: #fbaf32;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 20px;
    transition: 0.3s;
}

.food .food-item:hover i {
    color: #719a0a;
}

.food .food-item i::after {
    position: absolute;
    content: "";
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    top: -20px;
    left: -15px;

    border-right: transparent;
    border-bottom: transparent;
    border-radius: 100px;
    transition: 0.3s;
}

.food .food-item:hover i::after {
    border-right: transparent;
    border-bottom: transparent;
}

.food .food-item h2 {
    font-size: 30px;
    font-weight: 700;
}

.food .food-item a {
    position: relative;
    font-size: 16px;
}

.food .food-item a::after {
    position: absolute;
    content: "";
    width: 50px;
    height: 1px;
    bottom: 0;
    left: calc(50% - 25px);
    background-color: navy;
    transition: 0.3s;
}

.food .food-item a:hover::after {
    width: 100%;
    left: 0;
    background: #719a0a;
}

/*******************************/
/*********** Menu CSS **********/
/*******************************/
.menu {
    position: relative;
    padding: 45px 0 15px 0;
    background-image: url(../images/services/bg_services.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.menu .menu-tab {
    position: relative;
}

.menu .menu-tab img {
    max-width: 100%;
    border-radius: 15px;
}

.menu .menu-tab .nav.nav-pills .nav-link {
    color: #ffffff;
    background: navy;
    border-radius: 5px;
    margin: 0 5px;
}

.menu .menu-tab .nav.nav-pills .nav-link:hover,
.menu .menu-tab .nav.nav-pills .nav-link.active {
    color: #ffffff;
    background: lightblue;
}

.menu .menu-tab .tab-content {
    padding: 30px 0 0 0;
    background: transparent;
}

.menu .menu-tab .tab-content .container {
    padding: 0;
}

.menu .menu-item {
    position: relative;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}

.menu .menu-img {
    width: 80px;
    margin-right: 20px;
}
.menu .menu-img img {
    width: 100%;
    border-radius: 100px;
}

.menu .menu-img img:hover {
    width: 80px;
    margin-right: 20px;
    border-radius: 0px;
    transition: ease-in-out 0.5s;
}

.menu .menu-text {
    width: calc(100% - 100px);
}

.menu .menu-text h3 {
    position: relative;
    display: block;
    font-size: 22px;
    font-weight: 700;
}

.menu .menu-text h3::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 13px;
    left: 0;
    z-index: -1;
}

.menu .menu-text h3 span {
    display: inline-block;
    float: left;
    padding-right: 5px;
    background: #ffffff;
}

.menu .menu-text h3 strong {
    display: inline-block;
    float: right;
    padding-left: 5px;
    color: #fbaf32;
    background: #ffffff;
}

.menu .menu-text p {
    position: relative;
    margin: 5px 0 0 0;
    float: left;
    display: block;
}

@media (max-width: 575.98px) {
    .menu .menu-text p,
    .menu .menu-text h3,
    .menu .menu-text h3 span,
    .menu .menu-text h3 strong {
        display: block;
        float: none;
        padding: 0;
        margin: 0;
    }

    .menu .menu-text h3 {
        font-size: 18px;
        margin-bottom: 0;
    }

    .menu .menu-text h3 span {
        margin-bottom: 3px;
    }

    .menu .menu-text h3::after {
        display: none;
    }
}

/* Event */
.events_texts {
    color: white;
}

/* Home */
.more_info {
    color: white;
    font-weight: 500px;
    border-radius: 50px;
    background-color: #03449e;
    width: 50%;
    position: absolute;
    padding: 4px 4px 4px 4px;
    top: 88%;
    left: 21%;
}

.more_info:hover {
    padding: 5px 5px 5px 5px;
    transition: 0.3s ease-in-out;
}

/* Contact */
.content-center {
    display: flex;
    justify-content: center;
}

form {
    text-align: center;
    color: gray;
    align-self: center;
}

form input {
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.8);
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    /*background-color: rgba(38, 38, 38, 0.2);*/
    width: 100%;
    height: 30px;
    background-color: transparent;
}

form textarea {
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.8);
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    background-color: rgba(0, 0, 0, 0.05);
    width: 100%;
    height: 200px;
}

form input:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

form textarea:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

form select:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

form .names {
    width: 49%;
}

form button {
    width: 400px;
    height: 50px;
    color: white;
    background-color: rgb(0, 12, 89);
    border-radius: 5px;
    border: none;
}

form button:hover {
    background-color: rgb(51, 66, 161);
    cursor: pointer;
}

form select {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.8);
    width: 100%;
}

form select option {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.8);
}

label {
    margin: 10px 0;
}
